<div>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Заголовок карточки</h5>
    <p class="card-text">Краткий пример текста, который дополняет заголовок карточки и составляет основное содержимое.</p>
    <a href="#" class="btn btn-primary">Подробнее</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Заголовок карточки</h5>
    <p class="card-text">Краткий пример текста, который дополняет заголовок карточки и составляет основное содержимое.</p>
    <a href="#" class="btn btn-primary">Подробнее</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Заголовок карточки</h5>
    <p class="card-text">Краткий пример текста, который дополняет заголовок карточки и составляет основное содержимое.</p>
    <a href="#" class="btn btn-primary">Подробнее</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Заголовок карточки</h5>
    <p class="card-text">Краткий пример текста, который дополняет заголовок карточки и составляет основное содержимое.</p>
    <a href="#" class="btn btn-primary">Подробнее</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Заголовок карточки</h5>
    <p class="card-text">Краткий пример текста, который дополняет заголовок карточки и составляет основное содержимое.</p>
    <a href="#" class="btn btn-primary">Подробнее</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Заголовок карточки</h5>
    <p class="card-text">Краткий пример текста, который дополняет заголовок карточки и составляет основное содержимое.</p>
    <a href="#" class="btn btn-primary">Подробнее</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Заголовок карточки</h5>
    <p class="card-text">Краткий пример текста, который дополняет заголовок карточки и составляет основное содержимое.</p>
    <a href="#" class="btn btn-primary">Подробнее</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Заголовок карточки</h5>
    <p class="card-text">Краткий пример текста, который дополняет заголовок карточки и составляет основное содержимое.</p>
    <a href="#" class="btn btn-primary">Подробнее</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Заголовок карточки</h5>
    <p class="card-text">Краткий пример текста, который дополняет заголовок карточки и составляет основное содержимое.</p>
    <a href="#" class="btn btn-primary">Подробнее</a>
  </div>
</div>


</div>


